.bg-counter{
background-color: black;
text-align: center;
}

.counter{
    background-color: rgb(39, 38, 38);
    color: white;
    margin: 25px;
    padding: 25px;
    font-size: 30px;
    border-radius: 10px;
}